html, body {
	height: 100%;
	margin: 0;
}

main {
	min-height: 100%;
	position: relative;
}
/* Navigation bar*/
.nav-wrapper {
	background-color: #FF424F;
}

@media (min-width: 993px){
	.brand-logo {
		margin-left: 10px;
	}
}

/* Registration and Login Form  */

.input-field {
	color: #EEEEEE;
}
.portal-page {
	opacity: 0.8;
	background-color: #212121;
	width: 400px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 414px){
	.portal-page{
		width: 100%
	}
}
.submit-btn {
	text-align: center;
	background-color: #EEEEEE;
	color: #212121;
}


/* Footer */
.page-footer {
	background-color: #FF424F;
}
